Cordra software can be deployed in at least two ways: as a single instance or as a distributed system. The full extent of system requirements depends on the deployment option selected. Please refer to these two documents for learning about those requirements: Deploying Single-Instance Cordra and Deploying Cordra as a Distributed System.The only (virtual) machine instance in the case of a single instance deployment or each instance in the case of a distributed deployment, is expected to meet the following re
quirements:MinimumRecommendedJVM: Java version 8JVM: Java version 8 or laterCPU: Single core 1GHzCPU: Single core 2GHzRAM: 500MBRAM: 2GBHDD: 200MBHDD: Storage dependentStorage is used for just logging system access if external backend services are employed. Otherwise, required storage space is dependent on the number and size of digital objects that are stored and indexed as well as the number of user requests. In general, and up to a certain point, more system memory will yield better search performance.